@page "/imc"

<h1>Calculador de IMC</h1>

<label for="altura">Altura (em metros)</label>
<input id="altura" type="number" />

<label for="peso">Peso (em quilogramas)</label>
<input id="peso" type="number" />

<button>Calcular IMC</button>
<label>O IMC é <span>99</span></label>